$light-grey: #c7c7c7;
$main-dark: #7e7f84;
$main-orange: #f45a40;
$sign-up-orange: #ff674f;
$main-white: #fff;
$border-grey: #eeeeee;
$bg-grey: #ededed;
$bg-darkgrey: #2a2d34;
$icon-hover: #ef4035;
$drop-down: #999999;