#details {
	margin-top: 30px;
	margin-bottom: 50px;
	color:$main-dark;

	.img-preview {
		padding-right: 30px;

		.img-container {
			border: 1px solid $light-grey;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 20px;
		}

		.gallery {

			.img-container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 175px;
			}
		}
	}

	.info {
		padding-left: 30px;
		margin-top: 50px;

		h1 {
			font-size: 28px;
			font-weight: bold;
			font-family: 'PT Sans', sans-serif;
			margin-bottom: 20px;
		}

		.info-container {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;

			.price {
				font-size: 40px;
				color: black;
				font-weight: bold;
				margin-top: 5px;
				margin-bottom: 15px;
			}

			.savings {
				text-align: right;

				p:first-of-type {
					text-decoration: line-through;
					font-size: 24px;
					margin-bottom:5px;
				}

				p:last-of-type {
					font-style: italic;
					font-size: 20px;
				}
			}
		}

		form {
			
			.inputs {
				display: flex;
				justify-content: space-between;

				div {

					&:first-of-type {
						flex-basis: 70%;
					}

					&:last-of-type {
						flex-basis: 15%;
						text-align: right;

						input {
							text-align: center;
							padding: 0;
						}
					}
				}

				label {
					width: 100%;
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;
				}

				select, input {
					width: 100%;
					height: 50px;
					border: 1px solid $main-dark;
					font-size: 20px;
					padding: 0 0 0 5px;
				}
			}

			input[type=submit] {
				padding: 10px 50px;
				background-color: $main-orange;
				border:0;
				font-size: 28px;
				font-weight: bold;
				color: $main-white;
				width: auto;
				float: right;
				margin-top: 40px;
			}
		}

		.img-container {
		}

		.price-info {
		}
	}
	
	.tabs {
		float: none;
	}
	.nav-tabs li {
	    float: left;
	    margin-bottom: -1px;
	}
	.nav li {
	    position: relative;
	    display: block;
	}

	.nav-tabs {
		border-bottom: 1px solid $tab-border;


		.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
			

		}
		.active-border {
			border: 1px solid $tab-border;
	    	margin-right: 10px;
	   		border-radius: 15px 15px 0 0;
			overflow: auto;
		}

		.active {
			.active-border {
	    		border-bottom: transparent;

				a {
					background-color: $main-white;
					border-top: 9px solid $main-orange;
					box-sizing: border-box;
					padding-top: 6px;
				}
			}
		}
	}



	.nav-tabs li a {
	    line-height: 1.42857143;
	    font-size: 24px;
	    color: $main-dark;
	    text-decoration: none;
	    cursor: pointer;
	    background-color: $tab-grey;

	}

	.nav li a {
	    position: relative;
	    display: block;
	    padding: 15px 30px;
	}

	.description-text {


	}

	.tabs-text {
		margin-top: 40px;

		.col-xs-12 {
			&:first-of-type {
				padding-right: 15px;
			}

			&:last-of-type {
				padding-left: 15px;
			}
		}
	}

}