#details {
	margin-top: 30px;
	margin-bottom: 50px;
	color:$main-dark;

	.basic-info {

		@media screen and (max-width: $break-small) {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	.img-preview {
		padding-right: 30px;

		@media screen and (max-width: $break-small) {
			padding:0;
		}

		.img-container {
			border: 1px solid $light-grey;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 20px;

			img {
				@media screen and (max-width: $break-small) {
					max-width: 50%;
				}
			}

		}

		.gallery {

			.img-container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 175px;
				float: left;
				width: calc(33.33% - 14px);
				

				@media screen and (max-width: $break-small) {
					height: 125px;
				}

				img {
					@media screen and (max-width: $break-small) {
						max-height: 100px;
					}
				}
			}

			.middle {
				margin: 0 21px;
			}

			.active {
				border: 1px solid $main-orange;
			}
		}
	}

	.info {
		padding-left: 30px;
		margin-top: 50px;

		img {
			@media screen and (max-width: $break-small) {
				width: 70%;
			}
		}

		@media screen and (max-width: $break-small) {
			padding:0;
			margin: 0;
		}

		h1 {
			font-size: 28px;
			font-weight: bold;
			font-family: 'PT Sans', sans-serif;
			margin-bottom: 20px;

			@media screen and (max-width: $break-small) {
				font-size: 20px;
			}
		}

		.info-container {
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;

			.price {
				font-size: 40px;
				color: black;
				font-weight: bold;
				margin-top: 5px;
				margin-bottom: 15px;

				@media screen and (max-width: $break-small) {
					font-size: 30px;
				}
			}

			.savings {
				text-align: right;

				p:first-of-type {
					text-decoration: line-through;
					font-size: 24px;
					margin-bottom:5px;

					@media screen and (max-width: $break-small) {
						font-size: 20px;
					}
				}

				p:last-of-type {
					font-style: italic;
					font-size: 20px;

					@media screen and (max-width: $break-small) {
						font-size: 16px;
					}
				}
			}
		}

		form {
			overflow: auto;

			@media screen and (max-width: $break-small) {
				margin-bottom: 50px;
			}
			
			.inputs {
				display: flex;
				justify-content: space-between;

				div {

					&:first-of-type {
						flex-basis: 70%;
					}

					&:last-of-type {
						flex-basis: 15%;
						text-align: right;

						input {
							text-align: center;
							padding: 0;
						}
					}
				}

				label {
					width: 100%;
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 10px;

					@media screen and (max-width: $break-small) {
						font-size: 16px;
					}
				}

				select, input {
					width: 100%;
					height: 50px;
					border: 1px solid $main-dark;
					font-size: 20px;
					padding: 0 0 0 5px;

					@media screen and (max-width: $break-small) {
						font-size: 16px;
					}
				}
			}

			input[type=submit] {
				padding: 10px 50px;
				background-color: $main-orange;
				border:0;
				font-size: 28px;
				font-weight: bold;
				color: $main-white;
				width: auto;
				float: right;
				margin-top: 40px;

				@media screen and (max-width: $break-small) {
					width: 100%;
					font-size: 24px;
				}
			}
		}

		.img-container {
		}

		.price-info {
		}
	}
	
	.tabs {
		float: none;
	}
	.nav-tabs li {
	    float: left;
	    margin-bottom: -1px;
	}
	.nav li {
	    position: relative;
	    display: block;
	}

	.nav-tabs {
		border-bottom: 1px solid $tab-border;

		.active-border {
			border: 1px solid $tab-border;
	    	margin-right: 10px;
	   		border-radius: 15px 15px 0 0;
			overflow: auto;
		}

		.active {
			.active-border {
	    		border-bottom: transparent;

				a {
					background-color: $main-white;
					border-top: 9px solid $main-orange;
					box-sizing: border-box;
					padding-top: 7px;
				}
			}
		}
	}

	.nav li a {
		line-height: 1.42857143;
	    font-size: 24px;
	    color: $main-dark;
	    text-decoration: none;
	    cursor: pointer;
	    background-color: $tab-grey;
	    position: relative;
	    display: block;
	    padding: 15px 0;
	    width: 190px;
	    text-align: center;

	    @media screen and (max-width: $break-small) {
			width: auto;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 18px;
		}
	}

	.tabs-text {
		display: none;
	}

	.description {
		display: block;
	}

	.tabs-text {
		margin-top: 40px;

		.col-xs-12 {

			&:first-of-type {
				padding-right: 15px;
				
				@media screen and (max-width: $break-small) {
					padding: 0;
					margin-bottom: 30px;
				}


			}

			&:last-of-type {
				padding-left: 15px;
				
				@media screen and (max-width: $break-small) {
					padding: 0;
				}
			}


		}
	}

}